/* Declaring custom properties */
* {
  box-sizing: border-box;
  border: thin solid red;
}

body {
  margin: 0;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  list-style-type: none;
}

#header {
  padding: 1em;
  background-color: black;
  color: black;
  text-align: right;
}

  #logo-title{
    color: white;
  }

#royal {
  padding: 3em;
  background-color: gray;
  color: gray;
}

#menu {
  padding: 1em;
  background-color: white;
  color: white;
  text-align: center;
}

#menu-ul {
  color:gray;
}

#menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu > ul > li {
  display: inline-block;
  padding: 0.5em;
  border-left: thin solid lightgray;
}

#principal {
  padding: 10em;
  text-align: center;
  background-image: url("foto-principal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#principal > ul{
  list-style-type: none;
}

#letra {
  color: white;
}

#cuota {
  padding: 0.1em;
  display: inline-block;
  background-color: #f7c51e;
  color: yellow;
  text-align: center;
}

#cuota {
  color: black;
}

#sub-principal {
  padding: 1em;
  background-color: black;
  color: black;
  text-align: center;
}

#texto {
  color: white;
}

#portland-information{
  padding: 1em;
  background-color: white;
  color: white;
  text-align: center;
}

#imagen-portland {
  text-align: center;
  width: 200px;
}

#portland-or {
  color: black;
}

#texto-pequeño {
  color: gray;
}

#link {
  text-align: center;
}

#tiks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5em;
    background-color: gray;
    color: black;
}

#capa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
  background-color: white;
  color: white;
}

#obreros {
  text-align: left;
}

#imagen-obrero {
  text-align: left;
  width: 200px;
}

#canada-eu {
  text-align: center;
}

#imagen-canada {
  text-align: center;
  width: 250px;
  height: 200px;
}

#seguridad {
  text-align: right;
}

#imagen-seguridad {
  text-align: right;
  width: 200px;
}

#subcontractors {
  color: black;
}

#materials {
  color: black;
}

#lifetime {
  color: black;
}

#subcontractors-info {
  color: gray;
}

#materials-info {
  color: gray;
}

#lifetime-info {
  color: gray;
}

#capa-exterior {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15em;
  background-color: gray;
}

.capa-blanca {
  background-color: white;
  padding: 7em;
  color: black;
}

#capa-principal {
  padding: 5em;
  background-color: white;
  color: black;
}

#capa-negra {
  padding: 6em;
  background-color: black;
}

#capa-amarilla {
  padding: 1em;
  background-color: #f7c51e;
}

#casas > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#casas > ul > li {
  display: inline-block;
  padding: 0.5em;
  border-left: thin solid lightgray;
}


#casas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 8em;
}

#imagen-casa1 {
  width: 400px;
}

#imagen-casa2 {
  width: 400px;
}


#imagen-casa3 {
  width: 400px;
}


#texto-footer {
  color: gray;
}

#letras-service-areas {
  color: white;
  text-align: left;
}

#capa-negra {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5em;
  color: white;
}
